:root {
  --color-bg: #FFFFFF;
  --color-text: #354F52;
  --color-a: #FFFFFF;
  --color-modal-bg: #FFFFFF;
  --color-border-button: #CAD2C5;
  --color-button: #2A9D8F;
  --color-button-hover: #21867A;
  --color-button-disabled: #CAD2C5;
  --color-error: #FF0000;
  --color-input: #CAD2C5;
  --color-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

body.dark-mode {
  --color-bg: #354F52;
  --color-text: #FFFFFF;
  --color-a: #80CFA9;
  --color-modal-bg: #354F52;
  --color-border-button: #2A9D8F;
  --color-button: #CAD2C5;
  --color-button-hover: #2A9D8F;
  --color-button-disabled: #21867A;
  --color-error: #FF4D4D;
  --color-input: #2A9D8F;
  --color-box-shadow: 0 3px 6px rgba(255, 255, 255, 0.1);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 1rem;
}

.main-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: var(--color-a);
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

a:hover {
  text-decoration: underline;
}

input[type="text"],
input[type="email"],
input[type="password"],
button {
  width: 95%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid var(--color-border-button);
  border-radius: 4px;
  font-size: 16px;
  color: var(--color-text);
  transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: var(--color-button);
  box-shadow: 0 0 5px var(--color-button);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.modal-content {
  background-color: var(--color-modal-bg);
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  width: 80%;
  max-width: 500px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.modal-content p {
  font-size: 1.2em;
}

.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error-message {
  color: var(--color-error);
  margin-top: 1rem;
  text-align: center;
}